:root {
  --height: 700px;
  --width: 700px;
}

#map {
    height: 1000px;
    width: 1000px;
}

#map_container {
    border: 1px solid black;
    position: fixed;
    left: 50%;
    top: 50%;
    height: var(--height);
    width: var(--width);
    transform: translate(-50%, -50%);
    z-index: 1;
    user-select: none;
}

body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

body {
    overflow: hidden;
    width: 100%;
    text-align: center;
}

canvas {
    border: 1px solid black;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: var(--height);
    width: var(--width);
}

.game_button {
    margin-block: 5px;
    margin-inline-start: 5px;
}